spring-hello/src/main/resources/customuser.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.learn.org/schema/util"
		xmlns:xsd="">
<element name="customuser">
	<complexType>
		<attribute name="userName" type="string"/>
		<attribute name="email" type="string"/>
	</complexType>
</element>


</schema>